
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}




.nav__links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 1.5rem;
}


.nav__link {
  font-weight: bold;
  color: #4a4a4a;
  text-decoration: none;
}


.nav__link:hover {
  color: #333; 
}


.icons__container {
  display: flex;
  gap: 1rem;
  align-items: center;
}


.icon__button {
  width: 24px;
  height: 24px;
  color: #4a4a4a;
  cursor: pointer;
}

.icon__button:hover {
  color: #333;
}
